<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.build_demo" android:versionCode="20112601" android:versionName="45.1.1.201126.1">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Build_demo">
        <meta-data android:name="model" android:value="common">
        </meta-data>
        <meta-data android:name="git_version" android:value="4ad622a53fde1e635509e5ff1e3af7c405279017">
        </meta-data>
        <meta-data android:name="brank" android:value="common">
        </meta-data>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>
                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
        </activity>
    </application>
</manifest>